<title>BoL Leaks reborn</title>
<h1>Bank Of London Leaks</h1>
<br/><br/>
About: All this information was extracted using social engineering against one of the admins of the Bank Of Legends. Since there is so much information I decided to to organize it a bit under different files. <br><br>
That way it is easier to read and I can give a some additional about it. Also if you prefer to analyze the data yourself I included the files from where the data was extracted from.<br/>

<br/>
<a href="userlist.html"><img src="images/kkthxbye.png" /></a><br>
<!-- <ul> is mainstream -->
<p>- <a href="userlist.html">League of legends username list. FROM DECEMBER 2014!!</a></p>
<p>- <a href="ddos.html">DDosing competitors.</a></p>
<p>- <a href="malware.html">Spreading malware under competitors name.</a></p>
<p>- <a href="lulz.html">lulz</a></p>
<p>- <a href="dog.html">Im Hu5ky, what should I do?</a></p>
<br><br><br><br><br>
<br><a href="http://www73.zippyshare.com/v/32084405/file.html">Skype logs in HTML + main.db</a> <a href="skype/index.html">VIEW ONLINE!!!</a>
<br><br><br>From Romania to the world 2014 - Add me on skype: ziqsli