<title>Lulz</title>
<!-- busy rekt-ing bol, I had no time to learn proper html! -->
<h1>Lulz</h1>
<br/>
<p><b>Some info:</b> Here I tell him that I gained access to the competitors servers (it was not true but his hosts file was edited ;D) and I sell him the access to the server for 2000 eur. It looks like he had planned to include malware in that competitors software as he did after this.
</p>
 <p>He was stupid enough to believe that administrators from the competitor were the guys attacking his site when it was actually me :p</p>
<br>
<img src ="images/08ae4d8bad.png"><br>
<img src ="images/469d47fcb6.png"><br>
<img src ="images/8fac844b86.png"><br>
<img src ="images/b62ce10b6a.png"><br>
<img src ="images/49fc9268c9.png"><br>
<img src ="images/32fb9800e0.png"><br>
<img src ="images/27581545c3.png"><br>
<img src ="images/d8a2359dcb.png"><br>
<img src ="images/a1176773f7.png"><br>
<img src ="images/586203e6e3.png"><br>
<img src ="images/e75b4f3d94.png"><br>
<img src ="images/fb82f16d22.png"><br>
<br>