<title>League of legends scripter list</title>
<!-- busy rekt-ing bol, I had no time to learn proper html! -->
<h1>League Of Legends scripter list</h1>
<br/>
<p><b>Some info:</b> The list was dumped on 21 of December aprox and contains information about cheaters that some cheat site logs. The information only includes people to used the cheat on December of 2014, so it's fresh data.
</p>
<p><b>Accuracy of the list:</b> The list is 99% accurate, it's directly taken from the servers used by the cheat auth system.</p>
<p><b>Some quick stats:</b> <br><br>
Cheaters by region:<br>
EUW: 4280<br>
EUNE: 2742<br>
NA: 24567<br>
BR: 3795<br>
KOREA: 2070<br>
UNK (probably china + las + tr?): 2429<br>
</p>
<br>
Total accounts: 20321
<br/><br/>
View Online: <a href="BankOfLondon.txt">Online</a><br/>
ZippyShare mirror: <a href="http://www34.zippyshare.com/v/36553145/file.html">Download list!</a>